@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #382c19;
    padding: 0px 10px;
    gap: 30px;
    flex-wrap: wrap;
    color: white;
}

nav a{
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: rgb(20, 27, 58);
}

.logo-image{
    width: 150px;
    height: 60px;
}

li {
    list-style: none;
    padding: 8px 10px;
    flex-shrink: 0;
}

a li {
    color: white;
}

.pink {
    color: #3e3b2e;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-end;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #b49f91;
    width: 100%;
    max-width: 200px;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #a89f91;
    color: #3e3b2e;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #8e8e7c;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 30px 40px 30px 30px;
    background-color: #f5f2e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #3e3b2e;
}

.form-container .form-group {
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #b49f91;
    border-radius: 4px;
}

.form-container button {
    background-color: #6b5e4a;
    color: #fff;
    border: none;  
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form-container button:hover {
    background-color: #4d4335;
    transform: translateY(-3px);
}  

.form-container p {
    margin-top: 20px;
    font-size: 14px;
}

.form-container a {
    color: rgb(59, 78, 162);
    text-decoration: underline;
}

.signup-container {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    background-color: #f5f2e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #3e3b2e;
}

.signup-container .inputs {
    margin-bottom: 20px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #b49f91;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-container button {
    background-color: #6b5e4a;
    color: #fff;  
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.signup-container button:hover {
    background-color: #4d4335;
    transform: translateY(-3px);
}
.contact-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f2e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.contact-header {
    background-color: #6b5e4a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.contact-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-inputs p {
    font-size: 14px;
    margin: 10px 0 5px;
    color: #3e3b2e;
    text-align: left;
}

.contact-inputs input,
.contact-inputs select,
.contact-inputs textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b49f91;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.contact-inputs textarea {
    height: 200px;
    resize: none;
}

.success-message {
    color: green !important;
    font-size: 22px !important;
    margin-bottom: 15px !important;
    font-weight: bold !important;
}

.contact-inputs button {
    width: 100%;
    padding: 10px;
    background-color: #6b5e4a; 
    color: #fff;
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contact-inputs button:hover {
    background-color: #4d4335;
    transform: translateY(-3px);
}


.logo {
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 300px;
}

.home-container {
    /* Almost full width of the viewport */
    width: 98.9vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

.home-container img {
    width: 100%;
    height: auto;
}

.best-seller{
    font-size: 50px;
    font-weight: bold;
    margin-left: 600px;
    color: black;
    margin-bottom: 20px;
    margin-top: 30px;
}


.about-container img {
    width: 60%;
    max-width: 100%;
}

.about-title{
    margin-top: -1380px;
    margin-left: 760px;
    font-size: 60px;
    font-family:'Playfair Display',
        serif;
    
} 

.about-us,
.our-collection,
.our-philosophy,
.our-community,
.get-in-touch {
    background-color: #f3ebe2;
    background: linear-gradient(135deg, #f3ebe2 0%, #e6dccd 100%);
    border-radius: 3px;
}

.about-us p,
.our-collection p,
.our-philosophy p,
.our-community p,
.get-in-touch p {
    text-align: justify;
    font-family: 'Great Vibes', cursive;
    color: #4e4638;

}

.about-us:hover,
.our-collection:hover,
.our-philosophy:hover,
.our-community:hover,
.get-in-touch:hover {
    background: #e2d3c3 !important;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.our-collection h3,
.our-philosophy h3,
.our-community h3,
.get-in-touch h3{
    font-size: 21px;
}

.about-us {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    width: 30%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 920px;
    margin-top: -60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.our-collection{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    width: 30%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 1050px;
    margin-top: 31px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.our-philosophy{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    width: 30%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 920px;
    margin-top: 31px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.our-community{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    width: 30%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 1050px;
    margin-top: 31px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.get-in-touch{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    width: 30%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 920px;
    margin-top: 31px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-container {
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(107, 94, 74, 0.8);
    padding: 20px;
    text-align: center;
    width: 250px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-left: 60px;
    background-color: white;
    color: #3e3b2e;
}

.card-container img {
    height: 300px;
    border-radius: 3px;
    border: 2px solid #b4925c;
}

.card-container:hover{
 transform: translateY(-5px);
 transition: all 0.3s ease-in-out;
background-color: #efeae2;
}

.card-container button {
    background-color: #b4925c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card-container button:hover {
    background-color: #6b5e4a;
}

.added-message{
    font-weight: bold;
    font-size: 20px;
    color: green;

}

